@import "./../../node_modules/bootstrap/scss/bootstrap";
body {
    font-family: 'Gaegu';
    font-size: 16px;    
}
#app {
    height: 100%; 
}

.container {
    min-height: 100vh;
    @media (min-width: 500px) {
        width: 500px;
    }
}
.game_status {
    min-height: 60px;
    .col{
        margin: auto;
        .status{
            line-height: 1.5;
            display:flex;
            justify-content: space-between;
            .status-message {
                font-size: 1.2rem;
                @media (min-width: 500px) {
                    font-size: 1.625rem;
                }
                            
            }
        }
    }
    .status {
        line-height: 60px;
        font-size: 1.5rem;
        text-align: center;
        color: #47DAD0;
        display:inline-block;
    }
    .col-4 {
        margin: auto;
    }
}

.heading {
    text-align: center;
    font-size: 3rem;
    @media (min-width: 500px) {
        font-size: 4rem;
    }
}

.score-board {
    text-align: center;
    .score {
        border: 1px solid #E5E5E5;
        color: #E7E7E7;
        background-color: #464646;
        &.player{
            &.current-player {
                border-bottom: 5px solid #47DAD0;
            }
        }
        &.draws{
            text-align: center;
            font-size: 14px;
            border-bottom: 5px solid #FFF;
        }        
    }
}
.actions {
    margin-bottom: 10px;
    text-align: right;
}

.board {
    background-color: #D7D8DB;
    border-radius: 5px;
    box-shadow: 5px 5px 30px 0px rgba(148, 148, 148, 0.5);
    border: 1px solid #FFFFFF;    
    .board-row {
        .col {
            padding: 0px;
            margin: 2px;
            background-color: white;
            .board-block {
                border: 1px solid gray;
                display: inline-block;
                width: 100%;
                font-size: 100px;
                text-align: center; 
                height: 100px;
                @media (min-width: 400px) {
                    height: 120px;
                    font-size: 120px;
                    line-height: 120px;
                } // 
                @media (min-width: 500px) {
                    height: 150px;
                    font-size: 150px;
                    line-height: 150px;
                } // 
                            
                line-height: 100px;
                &:hover:not(.disabled):not(.player-1):not(.player-2) {
                    box-shadow: 0 0 25px #333;
                }
                &.player-1 {
                    color: #FAB800;
                }
                &.player-2 {
                    color: #C43480;
                }
                &.winning-block {
                    box-shadow: 
                    inset 0px 0px 40px #D53E9C, 
                    0px 0px 25px #333;
                    color:#222222
                }
                &.disabled:not(.winning-block) {
                    color: #B3B6B9;
                }
            }
        }
    }
}
.butt {
    min-width:30px;
    padding: 5px 20px;
    font-size: 16px;
    cursor:pointer;
    background-color: #47DAD0;
    color: #FFFFFF;
    font-weight: bold;
    &:focus {
        outline:none !important;
    }
    &.reset {
        margin-right: 15px;
    }
 }
 
